body{
  background-color: rgb(229, 234, 233);
}

h2 {
    border-right: 1px solid lightgray; border-radius: 4px; width: auto; padding: 8px;
    background-color:rgb(243, 243, 216);
}

h2:hover{
    background-color:rgb(241, 241, 171);
}

select:required:invalid{
    color: gray;
  }
select:valid{
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }


  .Submit:hover{
    background-color: red;
  }
  
  .center{
    padding: 35px 0px 15px;
  }

  .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-auto-rows: minmax(10px, auto);
    grid-template-areas: 
    "Step1 Step2 Step3 Step4"
    "Dangky Dangky Dangky Dangky";
    padding-left: 100px;
    padding-right: 100px;
  }

.container-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-auto-rows: minmax(50px, auto); 
    padding-left: 100px;
    padding-right: 100px;
}

  .Dangkytiem{
    grid-area: Dangky;
    text-align: center;
  }

  .Buoc1{
    grid-area: Step1;
  }

  .Buoc2{
    grid-area: Step2;
  }
  
  .Buoc3{
    grid-area: Step3;
  }

  .Buoc4{
    grid-area: Step4;
  }