body{
    background-color: rgb(211, 221, 235);
}

h2 {
    border: 3px solid black; border-radius: 4px; width: 300px; padding: 8px;
    background-color:rgb(243, 243, 216);
}

h2:hover{
    background-color:rgb(241, 241, 171);
}

select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }

  .Submit:hover{
    background-color: red;
  }
  